@keyframes showElem {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideElem {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}

.el {}