.art {
  padding: 6.094vw 0 5.729vw;

  &__title {
    max-width: 64.583vw;
    width: 100%;
    margin: 0 auto 10.677vw;
    text-align: center;
    line-height: 1.1;
  }

  &__text {
    max-width: 28.125vw;
    width: 100%;
  }

  &__text-decor {
    position: relative;
    top: 5.208vw;
    text-align: right;
    padding-right: 6.771vw;

    img {
      max-width: 28.125vw;
      width: 100%;
      height: auto;
    }
  }

  &__text-icon {
    max-width: 20.313vw;
    width: 100%;

    img {
      display: block;
      width: 5.885vw;
      height: 5.885vw;
      margin-bottom: 2.604vw;
    }
  }

  &__board {
    margin-top: 6.563vw;
    min-width: 100vw;
    position: relative;

    &-img {

      display: block;
      width: 100%;
      height: auto;

    }
  }

  &__board-decor {
    position: absolute;

    &_1 {
      max-width: 31.458vw;
      width: 100%;
      top: -0.184vw;
      left: 37%;
      z-index: 2;

      img {
        display: block;
        width: 100%;
        height: auto;
        ;
      }
    }

    &_2 {
      bottom: 12.292vw;
      left: 42%;
      max-width: 34.74vw;
      width: 100%;

      img {
        display: block;
        width: 100%;
        height: auto;
        ;
      }
    }
  }

}

.container {}

.title {}

.text-colored {}

.main {

  &__text {

    &_right {}

    &_full {}
  }

  &__text-inner {}
}