.contacts {

  &__adress {
    max-width: 31.25vw;
    width: 100%;
    margin: 0 auto 5.99vw;
    text-align: center;
  }

  &__adress-top {
    margin-bottom: 2.604vw;

  }

  &__adress-suplabel {}

  &__adress-label {
    font-size: 1.354vw;
  }

  &__adress-bottom {}

  &__adress-cord {
    color: var(--color-grey);
    font-size: 0.833vw;
    margin-bottom: 1.25vw;
  }

  &__adress-btn {
    margin: 0 auto;
  }

  &__map {
    background: var(--color-grey);
    width: 100vw;
    height: 32.292vw;
    margin-bottom: 9.896vw;
  }

  &__form {
    max-width: 40.625vw;
    border-radius: 6.77vw 6.77vw 0 0;
  }
}

.ymaps-2-1-79-ground-pane {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.ymaps-2-1-79-image-with-content {
  left: -1.25vw;
  top: -1.25vw;
  width: 2.656vw;
  height: 3.802vw;
  background-size: 2.656vw 3.802vw;
}