.decor-title {
  max-width: 42.448vw;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #C9ACAC;
  text-align: center;
  padding: 7.292vw 1.563vw 4.375vw 1.563vw;
  border-radius: 50%;
  position: relative;

  &__title {
    max-width: 32.438vw;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.6vw;
  }

  &__btn {
    min-width: 10vw;
    margin: 0 auto;
  }

  &__decor {
    position: absolute;
    left: -1.302vw;
    bottom: -8.3vw;
    max-width: 22.4vw;
    width: 100%;


    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}