.footer {
  background: #000;
  padding: 2.917vw 0 2.917vw;
  color: var(--color-white);

  &__wrapper {
    max-width: 92.448vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    font-size: 0.625vw;
    line-height: 1.4;
    opacity: .34;
    max-width: 29.948vw;
    width: 100%;
    margin-right: 1.042vw;

    p {
      line-height: 1.4;
    }
  }

  &__info {}

  &__row {
    display: grid;
    grid-template-columns: 1fr minmax(7.813vw, 10.729vw);
    gap: 2.604vw;

    &:not(:last-child) {
      margin-bottom: 1.927vw;
    }
  }

  &__col {}

  &__info-adress {}

  &__right {
    max-width: 24.479vw;
    width: 100%;
  }

  &__right-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    font-size: 1.198vw;
    line-height: 1.2;
    display: block;
    font-family: var(--font-text-s);
  }

  &__socials {
    display: flex;

  }

  &__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.969vw;
    height: 2.969vw;
    background-color: var(--color-white);
    border-radius: 50%;
    transition: background-color ease .3s;

    &:hover {
      background-color: (--colo-main);
    }

    &:not(:last-child) {
      margin-right: 1.042vw;
    }
  }
}

.container {}