.order-form {
  padding: 6.406vw 3.646vw 7.813vw 3.646vw;
  max-width: 36.458vw;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid rgba(213, 208, 201, 0.675645);
  border-radius: 5.313vw;

  &__form {}

  &__title {
    margin-bottom: 3.906vw;
    text-align: center;
  }

  &__inputs {
    margin: 0 auto 2.083vw;
    max-width: 21.719vw;
    width: 100%;
  }

  &__input {
    display: block;

    &:not(:last-child) {
      margin-bottom: 0.417vw;
    }
  }

  &__btn {
    min-width: 10.417vw;
    display: block;
    margin: 0 auto 1.823vw;
  }

  &__descr {
    font-family: var(--font-text-s);
    max-width: 24.896vw;
    text-align: center;
    opacity: 0.5;
    margin: 0 auto;
  }
}