.hero {
  padding: 7.813vw 0 2.604vw;
  min-height: 100vh;


  @media(max-width:$md4) {
    padding: 18.229vw 0 9vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-size: 20.365vw;
    font-family: var(--font-text-h);
    line-height: 0.9em;
    letter-spacing: 0.01em;
    white-space: nowrap;
    position: relative;
    margin-bottom: 1.042vw;


    @media(max-width:$md5) {
      font-size: 30vw;
      line-height: 1em;
      white-space: normal;
      text-align: left;
    }

    @media(max-width:$md6) {
      font-size: 31.25vw;
    }
  }

  &__title-decor {
    position: absolute;
    right: 6.823vw;
    top: 58%;
    height: fit-content;
    max-width: 18.646vw;
    width: 100%;

    @media(max-width:$md5) {
      top: auto;
      bottom: -20%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__text {
    line-height: 1.2em;
    font-weight: 400;
    max-width: 20.313vw;
    line-height: 1.4;
    width: 100%;

    @media(max-width:$md4) {
      max-width: 52vw;
    }

    @media(max-width:$md6) {
      max-width: 70vw;
    }
  }
}