.popups {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  background: rgba(#000, .4);
  transition: all ease-in-out .3s;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &.show {
    pointer-events: auto;
    opacity: 1;

    .popups__inner {
      display: block;
    }
  }

  &__inner {
    // display: none;
    padding: 1.45vw;
    width: 100vw;
    height: 100vh;
    min-width: fit-content;
    min-height: fit-content;
    overflow: auto;
  }
}

.popup {
  position: relative;
  opacity: 0;
  transition-delay: 0.4s;
  pointer-events: none;
  transition-delay: .4s;
  transition: all ease .5s;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &__close {
    position: absolute;
    top: 2.604vw;
    right: 2.604vw;

    svg {
      width: 0.885vw;
      height: 0.885vw;
      fill: var(--color-grey);
      transition: all ease .3s;
    }

    &:hover {
      fill: var(--color-dark);
    }
  }
}

.js-close {
  cursor: pointer;
}