<section class="art">
	<div class="container">
		<h2 class="art__title title">
			Настоящее <span class="text-colored">искусство</span> в области
			архитектуры и интерьера
		</h2>
		<div class="main__text main__text_xs main__text_right">
			<div class="art__text-decor">
				<noscript data-webp>
					<img src="img/art_decor.png" alt="Декор" />
				</noscript>
			</div>
			<div class="main__text-inner art__text">
				<p>
					The Birch, обладая всеми прелестями скандинавского дизайна,
					представляет собой настоящее искусство в области архитектуры
					и интерьера.
				</p>
				<p>
					Расположенный в лесном массиве, он впечатляет своей
					гармонией с природным окружением, благодаря правильной
					геометрии пространств и большим панорамным окнам, которые
					просвечиваются и позволяют наслаждаться захватывающими
					видами на природу.
				</p>
				<div class="art__text-icon main__text main__text_full">
					<img src="img/text_icon.svg" alt="logo" />
					<p>
						Команда Placebo/25, известная своей успешной реновацией
						завода «Арсенал» в Санкт-Петербурге (LOFT#7) и
						готовящегося к запуску LOFT#8 в ДК «Серп и Молот» в
						Москве, превратила бывший пионерский лагерь и дом отдыха
						«Берёзка» в мульти-функциональную инфраструктуру для
						проведения мероприятий.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="art__board">
		<noscript data-webp>
			<img src="img/art_board.png" alt="Стенгазета" />
		</noscript>
	</div>
</section>
