<section class="banner">
	<div class="container">
		<div class="main__text main__text_lg main__text_right">
			<div
				class="main__text-inner banner__text"
				data-effect="fadeDown"
				data-duration="1.2"
			>
				<p>
					The Birch — это 7 гектар территории в самом сердце
					заповедного смешанного леса всего в 40 км от Москвы по
					Ленинградскому шоссе.
				</p>
			</div>
		</div>
		<div class="banner__content" data-effect="opacity" data-duration="0.6">
			<div
				class="banner__content-decor"
				data-speed="0.9"
				data-effect="opacity"
				data-delay="0.4"
				data-duration="1.2"
			>
				<noscript data-webp>
					<img src="img/banner_decor.png" alt="декор" />
				</noscript>
			</div>
		</div>
		<div class="main__text main__text_lg main__text_right">
			<div
				class="main__text-inner banner__text banner__text_bottom"
				data-effect="fadeDown"
			>
				<p>
					На территории расположены четыре независимых
					event-пространства, каждое из которых способно разместить от
					30 до 500 гостей, и имеет свою уличную территорию,
					окруженную лесным массивом.
				</p>
			</div>
		</div>
	</div>
</section>
