<section class="contacts">
	<div class="container">
		<div class="contacts__adress">
			<div class="contacts__adress-top">
				<div
					class="contacts__adress-suplabel main__text main__text_full"
				>
					Московская область
				</div>
				<div class="contacts__adress-label">
					Солнечногорский район, поселок Жуково
				</div>
			</div>
			<div class="contacts__adress-bottom">
				<div class="contacts__adress-cord main__text main__text_full">
					56.099677, 37.048725
				</div>
				<button class="contacts__adress-btn btn btn_secondary">
					Проложить маршрут
				</button>
			</div>
		</div>
	</div>
	<div id="map" class="contacts__map"></div>
	<div class="container">
		<div class="order-form contacts__form">
			<form action="#" class="order-form__form">
				<h4 class="order-form__title title">
					Остались вопросы? Свяжитесь с нами
				</h4>
				<div class="order-form__inputs">
					<input
						class="order-form__input"
						name="name"
						placeholder="Имя"
					/>
					<input
						class="order-form__input"
						name="phone"
						placeholder="Телефон"
					/>
					<input
						class="order-form__input"
						name="email"
						placeholder="Почта"
					/>
					<textarea
						class="order-form__input"
						name="quest"
						placeholder="Вопрос"
					></textarea>
				</div>
				<button class="order-form__btn btn">Отправить</button>
				<div class="order-form__descr">
					Нажимая на кнопку, вы даете согласие на обработку своих
					персональных данных согласно политике конфиденциальности
				</div>
			</form>
		</div>
	</div>
</section>
