<section class="concep">
	<div class="container">
		<h2 class="concep__title title">
			Уникальная концепция пространства
			<span class="concep__title-decor">
				<noscript data-webp>
					<img src="img/concept/decor.png" alt="Декор" />
				</noscript>
			</span>
		</h2>
	</div>
	<div class="concep__slider">
		<div class="concep__slider-slide">
			<noscript data-webp>
				<img src="img/concept/img_1.jpg" alt="img_1" />
			</noscript>
		</div>
		<div class="concep__slider-slide">
			<noscript data-webp>
				<img src="img/concept/img_2.jpg" alt="img_2" />
			</noscript>
		</div>
		<div class="concep__slider-slide">
			<noscript data-webp>
				<img src="img/concept/img_3.jpg" alt="img_3" />
			</noscript>
		</div>
	</div>
	<div class="container">
		<div class="main__text main__text_xs main__text_right">
			<div class="concep__text main__text-inner">
				<p>
					LOFT HALL представляет уникальную концепцию пространства,
					которая была создана вокруг культуры загородного досуга, с
					сохранением удобства и привычной городской инфраструктуры.
				</p>
				<p>
					Вдохновленный богатым советским наполнением, а также
					современными тенденциями в эко-дизайне и аутентичности
					природного ландшафта, проект обладает современным подходом к
					оформлению и раскрытию личности в естественном окружении.
				</p>
			</div>
		</div>
	</div>
</section>
