<div class="decor-title">
	<div
		class="decor-title__border"
		data-effect="opacity"
		data-delay="0.6"
	></div>
	<h3 class="decor-title__title title" data-effect="opacity" data-delay="0.2">
		Записаться на просмотр
	</h3>
	<button
		class="decor-title__btn btn"
		data-effect="opacity"
		data-duration="1.2"
		data-delay="0.3"
		data-popup="#order_form"
	>
		Записаться
	</button>
	<div
		class="decor-title__decor"
		data-effect="opacity"
		data-speed="1.1"
		data-delay="0.5"
	>
		<img src="img/title_decor.png" alt="Декор" />
	</div>
</div>
