<section class="features">
	<div class="container">
		<h2 class="title features__title">Особенности локации</h2>
		<div class="features__board">
			<div class="features-item features-item_light">
				<div class="features-item__content">
					<h3 class="features-item__title">200</h3>
				</div>
			</div>
			<div class="features-item">
				<div class="features-item__content">
					<div class="features-item__text">
						<p>
							Площадка находится в центре заповедного леса на 200
							Га
						</p>
					</div>
				</div>
			</div>
			<div class="features-item">
				<div class="features-item__img">
					<noscript data-webp>
						<img src="img/features/img_1.jpg" alt="img_1" />
					</noscript>
				</div>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item">
				<div class="features-item__content">
					<div class="features-item__text">
						Дизайнерские loft-интерьеры с крафтовой мебелью
						собственного бренда ASKETI.CA
					</div>
				</div>
			</div>
			<div class="features-item">
				<div class="features-item__content">
					<div class="features-item__text">
						Мероприятия до 10000 персон в шатрах
					</div>
				</div>
			</div>
			<div class="features-item">
				<div class="features-item__img">
					<noscript data-webp>
						<img src="img/features/img_1.jpg" alt="img_1" />
					</noscript>
				</div>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item">
				<div class="features-item__content">
					<div class="features-item__text">
						Авторская кухня LOFT HALL с возможностью проработки меню
						под любую концепцию
					</div>
				</div>
			</div>
			<div class="features-item features-item_light">
				<div class="features-item__content"></div>
			</div>
			<div class="features-item">
				<div class="features-item__img">
					<noscript data-webp>
						<img src="img/features/img_1.jpg" alt="img_1" />
					</noscript>
				</div>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item">
				<div class="features-item__content">
					<div class="features-item__text">
						Профессиональное световое и звуковое оборудование от
						нашей прокатной компании MAG
					</div>
				</div>
			</div>
			<div class="features-item features-item_dark">
				<div class="features-item__content">
					<div class="features-item__text">
						Бесплатная парковка для гостей и участников мероприятий
					</div>
				</div>
			</div>
			<div class="features-item">
				<div class="features-item__content">
					<div class="features-item__text">
						Доп. пространства для организаторов и участников ивентов
					</div>
				</div>
			</div>
			<div class="features-item">
				<div class="features-item__content">
					<div class="features-item__text">
						Подготовлены к эксплуатации круглый год
					</div>
				</div>
			</div>
			<div class="features-item">
				<div class="features-item__img">
					<noscript data-webp>
						<img src="img/features/img_1.jpg" alt="img_1" />
					</noscript>
				</div>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item">
				<div class="features-item__content">
					<div class="features-item__text">
						Всё для свадьбы: «Домик невесты», остров с ротондой и
						пирсом в центре лесного пруда
					</div>
				</div>
			</div>
			<div class="features-item">
				<div class="features-item__content"></div>
			</div>
		</div>
	</div>
</section>
