<section id="features" class="features">
	<div class="container">
		<h2 class="title features__title" data-effect="fadeDown">
			Особенности локации
		</h2>
		<div class="features__board">
			<div
				class="features-item features-item_light"
				data-effect="opacity"
			>
				<div class="features-item__content">
					<h3 class="features-item__title">200</h3>
				</div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						<p>
							Площадка находится в центре заповедного леса на 200
							Га
						</p>
					</div>
				</div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__img">
					<noscript data-webp>
						<img src="img/features/img_1.jpg" alt="img_1" />
					</noscript>
				</div>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						Дизайнерские loft-интерьеры с крафтовой мебелью
						собственного бренда ASKETI.CA
					</div>
				</div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						Мероприятия до 10000 персон в шатрах
					</div>
				</div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__img">
					<noscript data-webp>
						<img src="img/features/img_2.jpg" alt="img_2" />
					</noscript>
				</div>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						Авторская кухня LOFT HALL с возможностью проработки меню
						под любую концепцию
					</div>
				</div>
			</div>
			<div
				class="features-item features-item_light"
				data-effect="opacity"
			>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__img">
					<noscript data-webp>
						<img src="img/features/img_3.jpg" alt="img_3" />
					</noscript>
				</div>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						Профессиональное световое и звуковое оборудование от
						нашей прокатной компании MAG
					</div>
				</div>
			</div>
			<div class="features-item features-item_dark" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						Бесплатная парковка для гостей и участников мероприятий
					</div>
				</div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						Доп. пространства для организаторов и участников ивентов
					</div>
				</div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						Подготовлены к эксплуатации круглый год
					</div>
				</div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__img">
					<noscript data-webp>
						<img src="img/features/img_4.jpg" alt="img_4" />
					</noscript>
				</div>
				<div class="features-item__content"></div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content">
					<div class="features-item__text" data-effect="opacity">
						Всё для свадьбы: «Домик невесты», остров с ротондой и
						пирсом в центре лесного пруда
					</div>
				</div>
			</div>
			<div class="features-item" data-effect="opacity">
				<div class="features-item__content"></div>
			</div>
		</div>
	</div>
</section>
