<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__left">
				<div class="footer__info">
					<div class="footer__row">
						<div class="footer__col">
							<p>
								© 2015–2023 ООО «ЛОФТ ЭВЕНТ ХОЛЛ». Все права
								защищены. Перепечатка и любое использование
								материалов невозможны.
							</p>
						</div>
						<div class="footer__col">
							<p class="footer__info-adress">
								Юр. адрес: 115280, город Москва, ул. Ленинская
								Слобода, д. 26, пом. II-II,комн. 11
							</p>
						</div>
					</div>
					<div class="footer__row">
						<div class="footer__col">
							<p>
								® «LOFT HALL» является зарегистрированным
								товарным знаком. Свидетельство № 777531 выдано
								Федеральной службой по интеллектуальной
								собственности 30.09.2020.
							</p>
						</div>
						<div class="footer__col">
							<ul>
								<li>ИНН: 7725360042</li>
								<li>КПП: 772501001</li>
								<li>ОГРН: 1177746215690</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__right">
				<div class="footer__right-wrapper">
					<div class="footer__right-item">
						<a href="tel:84951201905" class="footer__link"
							>+7 495 120-19-05</a
						>
						<a
							href="mailto:thebirch@lofthall.ru"
							class="footer__link"
							>thebirch@lofthall.ru</a
						>
					</div>
					<div class="footer__right-item">
						<div class="footer__socials">
							<a href="" class="footer__socials-link">
								<svg
									class="tg-icon"
									width="24"
									height="20"
									viewBox="0 0 24 20"
								>
									<use
										xlink:href="./img/icons/icons.svg#tg"
									></use>
								</svg>
							</a>
							<a href="" class="footer__socials-link">
								<svg
									class="wp-icon"
									width="24"
									height="24"
									viewBox="0 0 24 24"
								>
									<use
										xlink:href="./img/icons/icons.svg#whatsApp"
									></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
