<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__left">
				<a href="/" class="header__logo">
					<svg class="" width="60" height="60" viewBox="0 0 60 60">
						<use xlink:href="./img/icons/icons.svg#logo"></use>
					</svg>
				</a>
				<nav class="header__menu">
					<ul class="header__menu-list">
						<li class="header__menu-elem">
							<a href="#" class="header__menu-link"
								>Особенности</a
							>
						</li>
						<li class="header__menu-elem">
							<a href="#" class="header__menu-link">Территория</a>
						</li>
						<li class="header__menu-elem">
							<a href="#" class="header__menu-link">О проекте</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__center">
				<nav class="header__menu">
					<ul class="header__menu-list">
						<li class="header__menu-elem">
							<a href="#" class="header__menu-link"
								>Пространства</a
							>
						</li>
						<li class="header__menu-elem">
							<a href="#" class="header__menu-link">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__right">
				<a href="tel:+74951201905" class="header__phone">
					+7495 120-19-05
				</a>
				<button class="header__btn btn">Заказать звонок</button>
			</div>
		</div>
	</div>
</header>
