<section class="hero">
	<div class="container">
		<h1 class="hero__title">
			THE Birch
			<span class="hero__title-decor">
				<noscript data-webp>
					<img src="img/decor.png" alt="декор" />
				</noscript>
			</span>
		</h1>
		<div class="main__text main__text_right main__text_sm">
			<div class="main__text-inner hero__text">
				<p>
					Первая загородная площадка от лидеров event-рынка LOFT HALL.
				</p>
				<button class="btn hero__btn">Узнать подробности</button>
			</div>
		</div>
	</div>
</section>
