<div class="popups">
	<div class="popups__inner">
		<div id="order_form" class="order-form popup">
			<div class="popup__close js-close">
				<svg class="" width="17" height="17" viewBox="0 0 17 17">
					<use xlink:href="./img/icons/icons.svg#close"></use>
				</svg>
			</div>
			<form action="#" class="order-form__form">
				<h4 class="order-form__title title">
					Остались вопросы? Свяжитесь с нами
				</h4>
				<div class="order-form__inputs">
					<input
						class="order-form__input"
						name="name"
						placeholder="Имя"
					/>
					<input
						class="order-form__input"
						name="phone"
						placeholder="Телефон"
					/>
				</div>
				<button class="order-form__btn btn">Отправить</button>
				<div class="order-form__descr">
					Нажимая на кнопку, вы даете согласие на обработку своих
					персональных данных согласно политике конфиденциальности
				</div>
			</form>
		</div>
	</div>
</div>
