<section id="spaces" class="spaces">
	<div class="spaces__circle"></div>
	<div class="container">
		<div class="spaces__num" data-effect="opacity">4</div>
		<h2 class="spaces__title title" data-effect="fadeDown">Пространства</h2>
		<div
			class="spaces__description"
			data-effect="fadeDown"
			data-delay="0.2"
		>
			Каждое пространство скрывает отсылки к их культурным и интерьерным
			особенностям.
		</div>
		<div class="spaces__wrapper">
			<div class="spaces-item">
				<div class="spaces-item__img" data-effect="opacity">
					<img src="" alt="" />
				</div>
				<div class="spaces-item__content">
					<div class="spaces-item__left">
						<div class="spaces-item__name" data-effect="opacity">
							North
						</div>
						<ul class="spaces-item__list">
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								300 м²
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Банкет: 220
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Фуршет: 400
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Театр: 400
							</li>
						</ul>
					</div>
					<div class="spaces-item__right">
						<div
							class="spaces-item__text main__text main__text_full"
						>
							<p data-effect="opacity">
								Обладает северным характером, с толстыми
								стенами, высокими 7-метровыми потолками и
								скошенными фронтальными стенами, которые
								пропускают дневной свет, подобно фьордам.
							</p>
							<p data-effect="opacity">
								Уличная веранда, похожая на помосток из лесной
								чащи, встречает гостей, приглашая их погрузиться
								в атмосферу мероприятия.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="spaces-item">
				<div class="spaces-item__img" data-effect="opacity">
					<img src="" alt="" />
				</div>
				<div class="spaces-item__content">
					<div class="spaces-item__left">
						<div class="spaces-item__name" data-effect="opacity">
							South
						</div>
						<ul class="spaces-item__list">
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								300 м²
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Банкет: 220
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Фуршет: 400
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Театр: 400
							</li>
						</ul>
					</div>
					<div class="spaces-item__right">
						<div
							class="spaces-item__text main__text main__text_full"
						>
							<p data-effect="opacity">
								Легкое и знойное пространство с выходом на
								веранду, которая защищена тентовой крышей от
								жаркого солнца.
							</p>
							<p data-effect="opacity">
								Цилиндрическое здание, которое можно найти на
								веранде, является архитектурной отсылкой к
								винным погребам, представляя собой иммерсивное
								наполнение для мероприятия.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="spaces-item">
				<div class="spaces-item__img" data-effect="opacity">
					<img src="" alt="" />
				</div>
				<div class="spaces-item__content">
					<div class="spaces-item__left">
						<div class="spaces-item__name" data-effect="opacity">
							West
						</div>
						<ul class="spaces-item__list">
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								300 м²
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Банкет: 220
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Фуршет: 400
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Театр: 400
							</li>
						</ul>
					</div>
					<div class="spaces-item__right">
						<div
							class="spaces-item__text main__text main__text_full"
						>
							<p data-effect="opacity">
								Правильное здание классической западной
								архитектуры с крыльцом-верандой, которая
								является полноценным пространством дома.
							</p>
							<p data-effect="opacity">
								Библиотека, камин, большая софа и вязанный
								огромный ковер практически на всю площадь пола
								создают ощущение уюта и комфорта.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="spaces-item">
				<div class="spaces-item__img" data-effect="opacity">
					<img src="" alt="" />
				</div>
				<div class="spaces-item__content">
					<div class="spaces-item__left">
						<div class="spaces-item__name" data-effect="opacity">
							East
						</div>
						<ul class="spaces-item__list">
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								300 м²
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Банкет: 220
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Фуршет: 400
							</li>
							<li
								class="spaces-item__elem"
								data-effect="fadeDown"
							>
								Театр: 400
							</li>
						</ul>
					</div>
					<div class="spaces-item__right">
						<div
							class="spaces-item__text main__text main__text_full"
						>
							<p data-effect="opacity">
								Терраса в восточном стиле, вдохновленная
								японским минимализмом, с чистыми линиями и
								простыми формами, создающими равновесие и
								пропорции между элементами.
							</p>
							<p data-effect="opacity">
								Отсутствие лишних деталей и декора в интерьере
								еще больше обращает внимание на огромное
								кострище, расположенное на уличной веранде.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
