<section class="spaces">
	<div class="spaces__circle"></div>
	<div class="container">
		<div class="spaces__num">4</div>
		<h2 class="spaces__title title">Пространства</h2>
		<div class="spaces__description">
			Каждое пространство скрывает отсылки к их культурным и интерьерным
			особенностям.
		</div>
		<div class="spaces__wrapper">
			<div class="spaces-item">
				<div class="spaces-item__img">
					<img src="" alt="" />
				</div>
				<div class="spaces-item__content">
					<div class="spaces-item__left">
						<div class="spaces-item__name">North</div>
						<ul class="spaces-item__list">
							<li class="spaces-item__elem">300 м²</li>
							<li class="spaces-item__elem">Банкет: 220</li>
							<li class="spaces-item__elem">Фуршет: 400</li>
							<li class="spaces-item__elem">Театр: 400</li>
						</ul>
					</div>
					<div class="spaces-item__right">
						<div
							class="spaces-item__text main__text main__text_full"
						>
							<p>
								Обладает северным характером, с толстыми
								стенами, высокими 7-метровыми потолками и
								скошенными фронтальными стенами, которые
								пропускают дневной свет, подобно фьордам.
							</p>
							<p>
								Уличная веранда, похожая на помосток из лесной
								чащи, встречает гостей, приглашая их погрузиться
								в атмосферу мероприятия.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="spaces-item">
				<div class="spaces-item__img">
					<img src="" alt="" />
				</div>
				<div class="spaces-item__content">
					<div class="spaces-item__left">
						<div class="spaces-item__name">South</div>
						<ul class="spaces-item__list">
							<li class="spaces-item__elem">300 м²</li>
							<li class="spaces-item__elem">Банкет: 220</li>
							<li class="spaces-item__elem">Фуршет: 400</li>
							<li class="spaces-item__elem">Театр: 400</li>
						</ul>
					</div>
					<div class="spaces-item__right">
						<div
							class="spaces-item__text main__text main__text_full"
						>
							<p>
								Легкое и знойное пространство с выходом на
								веранду, которая защищена тентовой крышей от
								жаркого солнца.
							</p>
							<p>
								Цилиндрическое здание, которое можно найти на
								веранде, является архитектурной отсылкой к
								винным погребам, представляя собой иммерсивное
								наполнение для мероприятия.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="spaces-item">
				<div class="spaces-item__img">
					<img src="" alt="" />
				</div>
				<div class="spaces-item__content">
					<div class="spaces-item__left">
						<div class="spaces-item__name">West</div>
						<ul class="spaces-item__list">
							<li class="spaces-item__elem">300 м²</li>
							<li class="spaces-item__elem">Банкет: 220</li>
							<li class="spaces-item__elem">Фуршет: 400</li>
							<li class="spaces-item__elem">Театр: 400</li>
						</ul>
					</div>
					<div class="spaces-item__right">
						<div
							class="spaces-item__text main__text main__text_full"
						>
							<p>
								Правильное здание классической западной
								архитектуры с крыльцом-верандой, которая
								является полноценным пространством дома.
							</p>
							<p>
								Библиотека, камин, большая софа и вязанный
								огромный ковер практически на всю площадь пола
								создают ощущение уюта и комфорта.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="spaces-item">
				<div class="spaces-item__img">
					<img src="" alt="" />
				</div>
				<div class="spaces-item__content">
					<div class="spaces-item__left">
						<div class="spaces-item__name">East</div>
						<ul class="spaces-item__list">
							<li class="spaces-item__elem">300 м²</li>
							<li class="spaces-item__elem">Банкет: 220</li>
							<li class="spaces-item__elem">Фуршет: 400</li>
							<li class="spaces-item__elem">Театр: 400</li>
						</ul>
					</div>
					<div class="spaces-item__right">
						<div
							class="spaces-item__text main__text main__text_full"
						>
							<p>
								Терраса в восточном стиле, вдохновленная
								японским минимализмом, с чистыми линиями и
								простыми формами, создающими равновесие и
								пропорции между элементами.
							</p>
							<p>
								Отсутствие лишних деталей и декора в интерьере
								еще больше обращает внимание на огромное
								кострище, расположенное на уличной веранде.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
