<section id="terra" class="terra">
	<div class="container">
		<h2 class="terra__title title" data-effect="fadeDown">
			Развитие территории
		</h2>
		<div class="terra__content">
			<div class="main__text main__text_xs main__text_right">
				<div
					class="terra__text main__text-inner"
					data-effect="fadeDown"
				>
					<p>
						В планах по развитию территории ее урбанизация, которая
						обеспечит разнообразие и функциональность общих зон
						благодаря футбольным полям, теннисным кортам, площадке
						для волейбола, живописной подвесной тропе, летнему
						кинотеатру и 25-метровому сухому бассейну.
					</p>
				</div>
			</div>
			<div class="terra__photos">
				<div class="terra__photos-col terra__photos-col_1">
					<div
						class="terra__photos-photo terra__photos-photo_1"
						data-speed="1.1"
						data-effect="opacity"
					>
						<img src="img/terra/img_1.jpg" alt="img_1" />
					</div>
					<div
						class="terra__photos-photo terra__photos-photo_2"
						data-speed="0.9"
						data-effect="opacity"
					>
						<img src="img/terra/img_2.jpg" alt="img_2" />
					</div>
				</div>
				<div class="terra__photos-col">
					<div
						class="terra__photos-photo terra__photos-photo_3"
						data-speed="1.1"
						data-effect="opacity"
					>
						<img src="img/terra/img_3.jpg" alt="img_3" />
					</div>
					<div
						class="terra__photos-photo terra__photos-photo_4"
						data-speed="0.9"
						data-effect="opacity"
					>
						<img src="img/terra/img_4.jpg" alt="img_4" />
					</div>
					<div
						class="terra__photos-photo terra__photos-photo_5"
						data-speed="0.8"
						data-effect="opacity"
					>
						<img src="img/terra/img_5.jpg" alt="img_5" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
